.body {

    background-color: #F3F3EA;
    margin: 0%;

}

.header {

    background-color: #43634D;
    width: 100%;
    height: 10vh;
    margin: 0%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.header a {

    text-decoration-color: #43634D;

}

.header h1 {

    margin: 0%;
    color: #F3F3EA;
    font-family: Verdana, Tahoma, sans-serif;

}

.movies {

    display: flex;
    justify-content: space-evenly;

}

.movie {

    width: 25%;
    height: 80vh;
    margin-top: 3%;
    padding-bottom: 5%;

    text-align: center;
    color: #333333;
    font-family: Verdana, Tahoma, sans-serif;

}

.movie img {

    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 10px;

}

@media (max-width: 600px) {

    .movies {

        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

    }

    .movie{

        width: 100%;
        height: 95vh;
        padding-bottom: 10%;

    }

    .movie img{

        width: 70%;

    }

}

@media (max-width: 410px){

    .movie{

        padding-bottom: 0%;
        height: 89vh;

    }

    .movie img{

        height: 70vh;

    }

}